body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.Course{
  font-size: 1em;
  margin: 0.25em 0;
  color: red

}
.time{
  font-size: 1em;
  margin:0.25em 0;
  color: darkblue
}

.day{
  font-size: 1em;
  margin:0.25em 0;
  color: darkgreen
}

.styled {
  border: 10,10;
  line-height: 10;
  padding: 0 20px;
  font-size: 1rem;
  text-align: bottom;
  color: #fff;
  text-shadow: 12px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, 1),
                                    rgba(0, 0, 0, 1) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 0);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.fit-picture {
  width: 250px;
}
